* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}
html {
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
::-webkit-scrollbar{
  width: 7px;
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(0,0,0,1) 100%);
}
::-webkit-scrollbar-thumb{
  background-color: rgb(217, 216, 231);
  border-radius: 10px;
}
.heading{
  margin-bottom: 50px;
  animation:2s zoomIn;
  
}
.heading h3{
 margin: 0!important;
 font-family: 'Gentium Book Plus', serif;
 font-family: 'Roboto Condensed', sans-serif;
}
.headingBorder {
  clip-path: polygon(
    0% 45%,
    33% 45%,
    33% 30%,
    50% 50%,
    66% 30%,
    66% 45%,
    100% 45%,
    100% 55%,
    66% 55%,
    66% 70%,
    33% 70%,
    33% 55%,
    0% 55%
  );
  width: 250px;
  height: 50px;
}
.headingBorder2 {
  clip-path: polygon(
    0% 45%,
    33% 45%,
    33% 30%,
    50% 30%,
    66% 30%,
    66% 45%,
    100% 45%,
    100% 55%,
    66% 55%,
    66% 70%,
    50% 50%,
    33% 70%,
    33% 55%,
    0% 55%
  );
  width: 250px;
  height: 50px;
}
.alertify-notifier .ajs-message.ajs-error{
  color: #fff;
  background: rgb(248, 62, 62) !important;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, .5);
}
.alertify-notifier .ajs-message.ajs-success{
  color: #fff;

}
