*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display:flex;
    align-items:center;
    flex-direction: column;
    justify-content: center;
}


#todoAppContainer{
    min-width: 500px;
    background-color: white;
    border-radius: 10px;
    z-index: 1;

}
#todoForm{
    width: 100%;
    background-color: white;
    padding: 10px;
    box-shadow: 2px 3px 2px 1px gray;
    border:none;
    border-radius:5px ;
}
#todoForm input{
    height: 30px;
    width: 80%;
}
#todoForm input:focus{
    outline: none;
}
#todoForm button{
    height: 30px;
    width: 15%;
    margin-left: 20px;
    background-color: #f82fa8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    border-radius: 5px;
    color: white;
    border: none;
}
#todoForm label{
    font-size: 18px;
}
#todoListContainer{
    margin-top: 30px;
    width: 100%;

    border: 1px solid rgb(194, 193, 193);
}
#editTodo{
    display:flex;
    align-items:center;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid rgb(194, 193, 193);
    padding: 10px 0;
}
#editTodo input{
    height: 30px;
    width: 100%;
}
#editTodo input::placeholder{
    padding: 10px;
    color: black;
    font-style:normal;
    font-size: 14px;

}
#editTodo input:focus{
    outline: 0;
}
#editTodo button{
     background-color: white;
     border: 1px solid #FF33AE;
     color: #FF33AE;
     padding: 5px 10px;
     margin-left: 10px;
}
#editTodo label{
    margin-right: 10px;
}
.todoListItem{
    display:flex;
    align-items:center;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgb(194, 193, 193);
}
.todoListItem-Left p{
    margin-left: 10px;
    font-size: 17px;
}
.todoListItem i {
    color: #FF33AE;
}
.todoListItem-Left{
    display:flex;
    align-items:center;
    flex-direction: row;
}
.todoListItem-Right{
    float: right;
}
#todoList{
    width: 100%;
}