.input-group span{
    width: 50px;
}
.form-control{
    height: 50px;
    color: #7C2AE8;
}

.form-control::placeholder{
    color:#7C2AE8;
}
.fa-solid{
    color: #7C2AE8;
}
#pic {
    position: relative;
    z-index: 1;
}
#pic:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(./img.jpg);
    background-position: center;
    background-size: cover;
    opacity: .8;
}
#img-text{
    padding: 0px 30px;
}